.pagecrm_footer__section {
    color: #131123;
    padding: 10px 0px 75px 0px;
}

.pagecrm_wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.pagecrm_footer__logo {
    padding-bottom: 38.29px;
}

.pagecrm_footer__social {
    display: flex;
    gap: 18px;
    align-items: center;
    padding-bottom: 21px;


}

.pagecrm_footer__text {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.pagecrm_footer__text h3 {
    Font-weight: 400;
    Font-size: 10px;
    line-height: 11.57px;
    color: #FFFFFF;

}

.pagecrm_footer__text h4 {
    Font-weight: 400;
    Font-size: 10px;
    line-height: 11.57px;
    color: #FFFFFF;

}