.pagecrm_form__section {
    padding-bottom: 75px;
}

.pagecrm_form__wrapper {
    padding: 44px 15px;
    border-radius: 32px;
    background-color: #603896;
}

.pagecrm_form__title {
    font-family: Space Grotesk;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #CB78FF
}

.pagecrm_form__subtitle {
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;

}

.pagecrm_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pagecrm_form input,
.pagecrm_form select,
.pagecrm_form button {
    background-color: inherit;
    border-width: 2px;

    border-image-source: linear-gradient(147.77deg, #9400FF 14.56%, rgba(198, 79, 135, 0.83) 86.63%);
    border-image-slice: 1;


    padding: 17px 24px;

}

.pagecrm_form__name,
.pagecrm_form__phone {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;

}

.pagecrm_form__name::placeholder,
.pagecrm_form__phone::placeholder {
    color: #FFFFFF;
}


.pagecrm_form__select option {
    color: #FFFFFF;
    background-color: #3E0468;

}

.pagecrm_form__select--item {}

.pagecrm_form__textarea {
    background-color: #603896;
    border-width: 2px;
    padding: 17px 24px;
    border-image-source: linear-gradient(147.77deg, #9400FF 14.56%, rgba(198, 79, 135, 0.83) 86.63%);
    border-image-slice: 1;

    color: #FFFFFF;

}

.pagecrm_form__textarea::placeholder {

    opacity: 0.5;
    color: #FFFFFF;

}


.pagecrm_form__btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.51px;
    letter-spacing: -0.01em;

    background-color: rgba(30, 0, 68, 1);



}