.pagecrm_subscription__section {
    padding-bottom: 75px;
}

.pagecrm_subscription__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.02em;
    padding-bottom: 45px;
}

.pagecrm_subscription__info {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #502185;
    border-radius: 10px;
    padding: 18px 10px;
    margin-bottom: 10px;

}

.pagecrm_subscription__info h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.88px;
    color: #FFFFFF;
}

.pagecrm_subscription__info h4 {
    font-size: 20px;
    font-weight: 700;
    color: #CC95FF;
}

.pagecrm_subscription__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pagecrm_subscription__card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 340px;
    background-color: #422A6A;
    padding: 19px 12px;
    border-radius: 15px;
    z-index: 1;
    margin-bottom: 20px;
}



.pagecrm_subscription__subtitle {
    position: relative;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}



.pagecrm_subscription__subtitle h4 {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}


.pagecrm_subscription__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-20%) translateY(-10%);
}

.pagecrm_subscription__button {
    display: flex;
    justify-content: center;
}

.pagecrm_subscription__btn {
    background-color: #0c0239;
    border: none;
    color: #fff;
    padding: 20px 48px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.51px;
    letter-spacing: -0.01em;
    position: relative;
}

.pagecrm_subscription__btn::before {
    content: '';
    width: 101%;
    height: 105%;
    background-image: linear-gradient(to right, rgba(56, 63, 236, 1), rgba(143, 221, 255, 1));
    position: absolute;
    z-index: -1;
    border-radius: inherit;
}