* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Play', sans-serif;
    background-color: #8464C0
}

.background {
    background: linear-gradient(to right,
            rgb(20, 70, 70),
            rgb(215, 149, 255),
            rgb(176, 26, 201),
            rgb(35, 44, 78),
            rgb(168, 25, 255));
}

.container {
    max-width: 360px;
    padding: 0 10px;
    margin: 0 auto;
}