.pagecrm_header {
    padding-top: 20px;
}

.pagecrm_wrapper {}

.pagecrm_box__top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

}

.pagecrm_box__top a {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    color: #ffffff;
}

.pagecrm_box__top--logo {}

.pagecrm_img img {
    height: 16.03px;
}

.pagecrm_phone__number a {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    color: #fff;
}

.pagecrm_box__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 17px;
    padding-bottom: 20px;
}

.pagecrm_box__bottom--burger {
    width: 30px;
    height: 20px;
}


.pagecrm_box__bottom--input {

    height: 23px;
}

.pagecrm_box__bottom--input {
    border: 0;
    border-radius: 25px;
    width: 100%;
}