.pagecrm_header {
    padding-top: 10px;
}

.pagecrm_wrapper {}

.pagecrm_box__top {
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagecrm_img img {
    height: 16.03px;
}

.pagecrm_phone__number a {
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 13.31px;
    color: #fff;
}

.pagecrm_box__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.pagecrm_burger__menu img {
    width: 30px;
    height: 30px;
}

.pagecrm_search__input {}

.pagecrm_box__bottom--input {
    border: 0;
    border-radius: 25px;
    /* background-image: linear-gradient(#7062A7, #614D93); */
}

.pagecrm_box__bottom--input::after {
    content: '';
    background-color: red;
    width: 110%;
    height: 110%;
    top: -20px;
    bottom: -20px;
    z-index: 2;
}